<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <title>AHP - Nhóm 9</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Bootstrap News Template - Free HTML Templates" name="keywords">
    <meta content="Bootstrap News Template - Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">
    <link rel="stylesheet" href="/static/assets/fonts/fontawesome-free-6.5.2-web/css/all.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/slick/slick.css" rel="stylesheet">
    <link href="lib/slick/slick-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-space-dynamic.css">
    <link rel="stylesheet" href="/static/assets/css/animated.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="/static/styles.css" />


</head>

<body>
    <div>
        <div class="brand">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4">
                        <div class="b-logo">
                            <a href="index.html">
                                <img src="/static/assets/img/hcmunre_logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="main-nav">

                            <a href="index.html" class="logo">
                                <h4>AHP SOFTWARE</h4>
                            </a>

                            <a class='menu-trigger'>
                                <span>Menu</span>
                            </a>

                            <ul class="nav">
                                <li class="scroll-to-section"><a href="/" class="active">Trang giới thiệu</a></li>
                                <li class="scroll-to-section"><a href="/index1.html">Tiêu chí</a></li>
                                <li class="scroll-to-section"><a href="">Phương án</a></li>
                                <li class="scroll-to-section">
                                    <div class="main-red-button"><a href="#contact">NHÓM 9</a></div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <br>
    <br>
    <br>


    <center>
        <h1 style="color: #ff4d4d; font-family: Arial, sans-serif;">Ghi chú các phương án</h1>
    </center>
    <div style=" border: 2px solid #333; border-radius: 10px; padding: 20px; background-color: #f9f9f9; width: 50%; margin: 0 auto;"
        class="container">

        <ul style="list-style-type: none; padding: 0;">
            <li style="margin-bottom: 10px;">
                <span style="font-weight: bold; color: #007bff; ">Phương án 1:</span> Đại học Sài Gòn
            </li>
            <li style="margin-bottom: 10px;">
                <span style="font-weight: bold; color: #007bff;">Phương án 2:</span> Đại học Khoa Học Tự Nhiên
            </li>
            <li style="margin-bottom: 10px;">
                <span style="font-weight: bold; color: #007bff;">Phương án 3:</span> Đại học Hutech
            </li>
            <li>
                <span style="font-weight: bold; color: #007bff;">Phương án 4:</span> Đại học FPT
            </li>
        </ul>

    </div>

    <center>
        <button onclick="window.history.back()" style="margin-top: 20px; background-color: #ff4d4d; " type="submit" class="btn">
            <i class="fa-solid fa-arrow-left"></i> Quay lại
        </button>

    </center>





    <footer style="margin-top: 228px; padding: 1px; height: 50px;" id="contact" class="contact-us section">
        <div class="container">
            <p style="text-align: center; margin-top: 10px; color: white;">Copyright &copy; 2024 Nhóm 9. All rights
                reserved.</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="lib/slick/slick.min.js"></script>
    <script src="/static/assets/js/wow.min.js"></script>
    <script src="/static/assets/js/owl.js"></script>
    <script src="/static/assets/js/script.js"></script>
</body>

</html>