<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="utf-8">
        <title>AHP - Nhóm 9</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Bootstrap News Template - Free HTML Templates" name="keywords">
        <meta content="Bootstrap News Template - Free HTML Templates" name="description">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">
        <link rel="stylesheet" href="/static/assets/fonts/fontawesome-free-6.5.2-web/css/all.min.css">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/slick/slick.css" rel="stylesheet">
        <link href="lib/slick/slick-theme.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
        <link rel="stylesheet" href="/static/assets/css/templatemo-space-dynamic.css">
        <link rel="stylesheet" href="/static/assets/css/animated.css">
        <link rel="stylesheet" href="/static/assets/css/owl.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

        <!-- Template Stylesheet -->
        <link rel="stylesheet" href="/static/styles.css" />


    </head>


</head>

<body>


    <!-- Brand End -->

    <!-- Nav Bar Start -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <h4>AHP SOFTWARE</h4>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/" class="active">Trang giới thiệu</a></li>
                            <li class="scroll-to-section"><a href="/index1.html">Tiêu chí</a></li>
                            <li class="scroll-to-section"><a href="/ghichupa.html">Phương án</a></li>

                            <li class="scroll-to-section">
                                <div class="main-red-button"><a href="#contact">NHÓM 9</a></div>
                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <center>
        <div style="margin-top: 100px" class="single-news">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12">
                    
                        <h1 style="color: #ff4d4d;"><i class="fas fa-calculator"></i> Tính tổng theo cột</h1>


                        <div class="table-container" style="background-color: bisque; ">

                        </div>
                        <div class="sn-container">
                            <table class="shadow-table" style="background-color: bisque; width: 900px;">
                                <tr>
                                    <th style="background-color: lightgreen; border: 1px solid black; width: 50px; ">
                                    </th>
                                    <th
                                        style="background-color: lightgreen; border: 1px solid black; width: 50px; text-align: center; ">
                                        Phương án 1</th>
                                    <th
                                        style="background-color: lightgreen; border: 1px solid black; width: 50px; text-align: center;">
                                        Phương án 2</th>
                                    <th
                                        style="background-color: lightgreen; border: 1px solid black; width: 50px; text-align: center;">
                                        Phương án 3</th>
                                    <th
                                        style="background-color: lightgreen; border: 1px solid black; width: 50px; text-align: center;">
                                        Phương án 4</th>
                                </tr>
                                {% for i in range(arr|length) %}
                                <tr>
                                    <td
                                        style="background-color: lightgreen; border: 1px solid black; text-align: center; width: 50px; ">
                                        <strong>Phương án {{ loop.index }}</strong>
                                    </td>
                                    {% for j in range(arr[i]|length) %}
                                    {% if i == j %}
                                    <td
                                        style="border: 1px solid black; text-align: center; background-color: yellow; width: 50px; ">
                                        {{ arr[i][j] }}</td>
                                    {% else %}
                                    <td style="border: 1px solid black; text-align: center; width: 50px; ">{{ arr[i][j]
                                        }}
                                    </td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td style="background-color: aqua; border: 1px solid black; text-align: center;">
                                        <strong>Sum</strong>
                                    </td>
                                    {% for cell in tong %}
                                    <td style="background-color: aqua; border: 1px solid black; text-align: center;">{{
                                        cell
                                        }}</td>
                                    {% endfor %}
                                </tr>
                            </table>



                        </div>

                    </div>

                </div>

                <br>
                <br>
                <br>

                <div class="row">
                    <div class="col-lg-12">

                        <h1 style="color: #ff4d4d;"><i class="fas fa-matrix"></i> Chuẩn hoá ma trận</h1>


                        <div class="table-container">

                        </div>
                        <div class="sn-container">
                            <table class="shadow-table" style="background-color: bisque; width: 900px;">
                                <th style="background-color: lightgreen; border: 1px solid black; width: 10px; "></th>
                                <th
                                    style="background-color: lightgreen; border: 1px solid black; width: 50px; text-align: center; ">
                                    Phương án 1</th>
                                <th
                                    style="background-color: lightgreen; border: 1px solid black; width: 50px; text-align: center;">
                                    Phương án 2</th>
                                <th
                                    style="background-color: lightgreen; border: 1px solid black; width: 50px; text-align: center;">
                                    Phương án 3</th>
                                <th
                                    style="background-color: lightgreen; border: 1px solid black; width: 50px; text-align: center;">
                                    Phương án 4</th>
                                {% for row in brr %}
                                <tr>
                                    <th
                                        style="background-color: lightgreen; border: 1px solid black; text-align: center; width: 50px; ">
                                        <strong>Phương án {{ loop.index }}</strong>
                                    </th>
                                    {% for cell in row %}
                                    <td style="background-color: bisque; border: 1px solid black; text-align: center;">
                                        {{
                                        cell }}</td>
                                    {% endfor %}

                                </tr>
                                {% endfor %}
                            </table>

                        </div>

                    </div>


                </div>

                <br>
                <br>
                <br>

                <div class="row">
                    <div class="col-lg-12">

                        <h1 style="color: #ff4d4d;">Trọng số</h1>


                        <div class="table-container">

                        </div>

                        <div class="sn-container">
                            <table class="single-table" style="width: 350px; border: 1px solid black; ">
                                <tr>
                                    <th
                                        style="background-color: lightgreen; border: 1px solid black; text-align: center; ">
                                        Phương án</th>
                                    <th
                                        style="background-color: lightgreen; border: 1px solid black; text-align: center;">
                                        Trọng số</th>
                                </tr>
                                {% for row in trongSoTg %}
                                <tr>
                                    <td style="background-color: aqua; border: 1px solid black; text-align: center;">
                                        <strong>Phương án {{ loop.index }}</strong>
                                    </td>
                                    <td style="background-color: bisque; border: 1px solid black; text-align: center;">
                                        {{
                                        row }}</td>
                                </tr>
                                {% endfor %}
                            </table>

                        </div>


                    </div>
                </div>

                <br>
                <br>
                <br>

                <div class="row">
                    <div class="col-lg-12">

                        <h1 style="color: #ff4d4d;">Vector nhất quán</h1>


                        <div class="table-container">

                        </div>
                        <div class="sn-container">
                            <table class="shadow-table" style="background-color: bisque; width: 900px;">
                                <th style="background-color: lightgreen; border: 1px solid black; width: 50px; "></th>
                                <th
                                    style="background-color: lightgreen; border: 1px solid black; width: 50px; text-align: center; ">
                                    Phương án 1</th>
                                <th
                                    style="background-color: lightgreen; border: 1px solid black; width: 50px; text-align: center;">
                                    Phương án 2</th>
                                <th
                                    style="background-color: lightgreen; border: 1px solid black; width: 50px; text-align: center;">
                                    Phương án 3</th>
                                <th
                                    style="background-color: lightgreen; border: 1px solid black; width: 50px; text-align: center;">
                                    Phương án 4</th>
                                {% for row in crr %}
                                <tr>
                                    <th
                                        style="background-color: lightgreen; border: 1px solid black; text-align: center; width: 50px; ">
                                        <strong>Phương án {{ loop.index }}</strong>
                                    </th>
                                    {% for cell in row %}
                                    <td style="background-color: bisque; border: 1px solid black; text-align: center;">
                                        {{
                                        cell }}</td>
                                    {% endfor %}

                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <br>

                <div class="row">
                    <div class="col-lg-12">

                        <h1 style="color: #ff4d4d;">Đánh giá trọng số</h1>


                        <div class="table-container">

                        </div>
                        <div class="sn-container">
                            <table class="shadow-table" style="background-color: bisque; width: 350px;">
                                <tr>
                                    <th style="background-color: aqua; border: 1px solid black; text-align: center;">
                                        Lamda
                                        Max</th>
                                    <td style="border: 1px solid black; text-align: center;">{{ lamdaMax }}</td>
                                </tr>
                                <tr>
                                    <th style="background-color: aqua; border: 1px solid black; text-align: center;">Chỉ
                                        số
                                        nhất quán CI</th>
                                    <td style="border: 1px solid black; text-align: center;">{{ chiSoNhatQuan }}</td>
                                </tr>
                                <tr>
                                    <th style="background-color: aqua; border: 1px solid black; text-align: center;">Tỷ
                                        số
                                        nhất quán CR</th>
                                    <td style="border: 1px solid black; text-align: center;">{{ (tySoNhatQuan *
                                        100)|round(2) }} %</td>
                                </tr>
                            </table>
                            <br>
                            <br>
                            {% if (tySoNhatQuan * 100) > 10 %}
                            <p style="color: red;">Tỷ số nhất quán CR không đạt yêu cầu (> 10%). Vui lòng quay lại nhập
                                ma
                                trận.</p>
                            <form action="/input_pa1_CR" method="post">
                                <div class="b-search">
                                    <input type="number" name="number" value="4" hidden />
                                    <input type="text" name="tc" value="{{ ten_tieu_chi }}" hidden />
                                    <input type="text" name="trongSo" value="{{ trongSo }}" hidden />
                                    <input type="text" name="trongSoTg" value="{{ trongSoTg }}" hidden />
                                    <button style="background-color: #ff4d4d; " type="submit" class="btn">
                                        <i class="fa-solid fa-arrow-left"></i> Quay lại nhập
                                    </button>
                                </div>
                            </form>
                            {% else %}

                            <form action="/input_pa2_CR" method="post">
                                <div class="b-search">
                                    <input type="number" name="number" value="4" hidden />
                                    <input type="text" name="tc" value="{{ ten_tieu_chi }}" hidden />
                                    <input type="text" name="trongSo" value="{{ trongSo }}" hidden />
                                    <input type="text" name="trongSoTg" value="{{ trongSoTg }}" hidden />
                                    <button style="background-color: #ff4d4d; " type="submit" class="btn">
                                        <i class="fa-solid fa-arrow-right"></i> Tiếp tục
                                    </button>
                                </div>
                            </form>
                            {% endif %}
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </center>


    <!-- Add criteria End-->


    <footer style="margin-top: 80px; padding: 1px; height: 50px;" id="contact" class="contact-us section">
        <div class="container">
            <p style="text-align: center; margin-top: 10px; color: white;">Copyright &copy; 2024 Nhóm 9. All rights
                reserved.</p>
        </div>
    </footer>



    <!-- Footer Bottom Start -->

    <!-- Footer Bottom End -->

    <!-- Back to Top -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/slick/slick.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>


<!-- <link rel="stylesheet" href="/static/styles.css" /> -->